:root {
  --area-porta-altura: 310px;
  --area-porta-largura: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #444;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
