.porta {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;

  background-color: chocolate;

  /* TEMP */
  width: var(--area-porta-largura);
  height: var(--area-porta-altura);
}

.numero {
  font-size: 3rem;
}
